@keyframes flicker {
    0% {
        transform: translate(0,0);
        opacity: 0;
    }
    25% {
        transform: translate(1px,0px);
        opacity: 0.5;
    }
    50% {
        transform: translate(-1px,0px);
        opacity: 1;
    }
    75% {
        transform: translate(0px,1px);
        opacity: 0.5;
    }
    100% {
        transform: translate(0,0);
        opacity: 0;
    }
}


body {
    margin: 0;
    padding: 0;
}